body, html {
  height: 100%;
  margin: 0;
  background: url(assets/Sea-2.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-backround-size: cover;
}
.everything {
  margin: 0px 0px 0px 40px;
}
#fish {
  width: auto;
  padding: 25px;
}
.line1 {
  width: 250px;
}
nav{
  display: inline-block;
  margin: auto;
  position: sticky;
  width: 100%;
  top:0;
  z-index:10;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgb(170, 246, 255);
  opacity: 75%;
}
nav ul {
  padding:0;
  display:flex;
}
nav li {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 2%;
  font-size: 1.7em;
}
nav li a {
  color:rgb(2, 1, 34);
  font-weight: 600;
  opacity: 0.9;
  text-decoration: none;
  transition: .3s;
}
nav li a:hover {
  color:#28659a;
  opacity: 1;
  text-decoration: none;
}

/* styling for links */
a:link {
  color:rgb(2, 1, 34);
}
a:visited {
  color:rgb(9, 120, 160);
}
a:hover {
  color: aquamarine;
}


.text1 {
  color: black;
text-align: center;
}
