body, html {
  height: 100%;
  margin: 0;
  background: #cdecfb;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-backround-size: cover;
}
.everything {
  margin: 0px 0px 0px 40px;
}
#fish {
  width: auto;
  padding: 25px;
}
/* lines */
.line1 {
  width: 250px;
}
.line2 {
  width: 250px;
}
.line3 {
  width: 250px;
}
.line4 {
  width: 250px;
}
/* end-lines */
nav{
  display: inline-block;
  margin: auto;
  position: sticky;
  width: 100%;
  top:0;
  z-index:10;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  text-transform: capitalize;
  background-color: rgb(123, 133, 170);
  opacity: 90%;
}
nav ul {
  padding:0;
  display:flex;
}
nav li {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 2%;
  font-size: 1.7em;
}
nav li a {
  color:rgb(239, 250, 252);
  font-weight: 600;
  opacity: 0.9;
  text-decoration: none;
  transition: .3s;
}
nav li a:hover {
  color:#7bc2e0;
  opacity: 1;
  text-decoration: none;
}

/* styling for links */
a:link {
  color:rgb(239, 250, 252);
}
a:hover {
  color: rgb(127, 246, 255);
}

.icon {
  width: 100;
  padding: 30 0 0 670;
}
.text1 {
  color: rgb(65, 75, 126);
text-align: center;
}
.aw2 {
  color: #28659a;
}